.dark-body {
    margin: auto;
    background-color: #282c34;
    min-height: 60vh;
    /* display: flex; */
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: white;
}

.light-body {
    background-color: #D3D3D3;
    min-height: 60vh;
    /* display: flex; */
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: #282c34;
}

.p-3 {
    background-color:  #212529; /* background dark color */
    color: #ffffff; /*  text color */
  }
/* #C0C0C0" */
.p-3-light {
    padding: 1rem;
    background-color:  #C0C0C0; 
    color: black; 

}
.p-3-1{
    padding: 2rem;
    background-color:  #212529; /* background dark color */
    color: #ffffff; /*  text color */

}

.p-3-1-light{
    padding: 2rem;
    background-color:  #C0C0C0; 
    color: black;
}

btn-light-spec {
    background-color: #828282;
}